@import '../../scss';

.shorten-container {
  margin: 15px;
  margin-top: 25px;

  form {
    @media only screen and (min-width: 768px) {
      .input-40 {
        display: inline-block;
        width: 35%;
        margin-right: 2%;
      }

      .input-60 {
        display: inline-block;
        width: 63%;
      }
    }

    button[type='submit'] {
      @include input-styles();
      color: $white;
      background: $logo-color;
      border: none;
      padding: 15px;
      font-weight: 600;
      outline: none;

      @media only screen and (min-width: 768px) {
        font-size: 13px;
        padding: 10px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    width: 400px;
    margin: auto;
    margin-top: 30px;
  }
}
