// SASS variables for the entire site
$bg-color: #f1f1f1;
$text-color: #616161;
$logo-color: #eb6a40;
$white: #ffffff;
$light-grey-border: #eaeaea;
$error-message-bg: #fefbe7;
$error-message-color: #5a3f11;
$error-message-border: #fef5c8;
